@import 'partials/index';

button {
  background-color: $color-primary;
  color: $color-grey-light-1;

  border-radius: 15px;
  padding: 1rem;
  margin: 0.5rem;

  flex-basis: 75%;
  text-transform: uppercase;
}
