@import 'partials/index';

.header {
  background-color: $color-grey-light-2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  width: 100vw;

  &--logo {
    flex-basis: 100%;
  }
}
