@import 'partials/index';

/*
* The height of the header plus the flex container must add up to 100vh.
* The purpose of this is to keep Chat stuck to the bottom of the screen.
*/
.header {
  background-color: $color-grey-light-2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  width: 100vw;

  &--logo {
    flex-basis: 100%;
  }
}
