.game {
  display: grid;
  height: $main-height;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 90%;
  grid-template-areas:
    'controls'
    'chat';
  &--controls {
    background-color: $color-grey-light-2;
    grid-area: controls;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: $default-padding;
    box-shadow: $box-shadow;
  }
  &--status {
    font-weight: 700;
  }
  &--player-count {
    font-size: 0.75rem;
  }
  &--chat {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 85% 15%;
  }
}
.chat {
  &--form {
    background-color: $color-grey-light-2;
    display: flex;
    align-items: center;
    width: 100%;
    input {
      border-radius: 10px;
      border: none;
      flex-basis: 85%;
      margin: 0.5rem 0 0.5rem 0.5rem;
      padding: 0.75rem;
    }
  }
  &--messages {
    padding: 0.5rem;
    overflow-y: scroll;
  }
}
