@import 'partials/normalize'; /* DON'T TOUCH THIS */

@import 'partials/index';
@import 'components/index';

@import url('https://fonts.googleapis.com/css?family=Montserrat');

html {
  font-size: 16px !important;
  font-family: 'Montserrat', sans-serif !important;
  overflow-x: hidden;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 85vh;
  width: 100%;
}

.clarifai-upload {
  border: 1px solid #333;
  width: 100vw;
  padding-top: 1rem;
  padding-bottom: 1rem;

  input[type='file'] {
    width: 50%;
    background-color: $color-primary;
    color: $color-primary;
  }
}

#root,
.app {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.loadingScreen {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: radial-gradient(
    $color-tertiary-dark,
    darken($color-tertiary-dark, 10%)
  );
  transition: 0.33s cubic-bezier(0.56, -0.15, 0.81, 0.77);
  z-index: 98;

  img {
    z-index: 99;
    opacity: 1;
  }

  &.loaded {
    transform: translateX(-100%);
  }
}

.typewriter {
  position: absolute;
  text-align: center;
  color: $color-white;
  font-size: 2rem;
  font-weight: bold;
}

.loading--logo {
  visibility: hidden;
  width: 200%;
  transition: 0.5s cubic-bezier(0.56, -0.15, 0.81, 0.77);
  &.show {
    visibility: visible;
    width: 70%;
  }
}

.beach-ball {
  animation: spinny-spinny 1s infinite;
  border-radius: 50%;
  background: radial-gradient(
    at 75%,
    lighten($color-primary-dark, 30%),
    darken($color-tertiary-light, 10%)
  );
  margin: 0 calc(50% - 2rem);
  width: 2rem;
  height: 2rem;
}

@keyframes spinny-spinny {
  to {
    transform: rotate(360deg);
  }
}

.game-finished {
  font-size: 3rem;
  text-align: center;
}
